@keyframes spinner {
    100% { transform: rotate(360deg); }
}

// thought this would look kind of cool. Little shake effect on logo on hover. 
// reusable class

.shake{
    &:hover, &:focus {
        animation: logoshake .5s cubic-bezier(.36,.07,.19,.97) both;
        backface-visibility: hidden;
        transform-origin: center;
    }
}

@keyframes logoshake {
    0% { transform: rotate(0); }
    15% { transform: rotate(5deg); }
    30% { transform: rotate(-5deg); }
    45% { transform: rotate(4deg); }
    60% { transform: rotate(-4deg); }
    75% { transform: rotate(2deg); }
    85% { transform: rotate(-2deg); }
    92% { transform: rotate(1deg); }
    100% { transform: rotate(0); }
}
