.u-hide {
    display: none;
}

.u-hideEmpty:empty {
    display: none;
}

@include screen-max(xs) {
    .xs\:u-show {
        display: none;
    }
}

@include screen-min(xs) {
    .xs\:u-hide {
        display: none;
    }
}

@include screen-max(s) {
    .s\:u-show,
    .m\:u-show,
    .l\:u-show,
    .xl\:u-show {
        display: none;
    }
}

@include screen-min(s) {
    .s\:u-hide {
        display: none;
    }
}

@include screen-max(m) {
    .m\:u-show,
    .l\:u-show,
    .xl\:u-show {
        display: none;
    }
}

@include screen-min(m) {
    .m\:u-hide {
        display: none;
    }
}

@include screen-max(l) {
    .l\:u-show,
    .xl\:u-show {
        display: none;
    }
}

@include screen-min(l) {
    .l\:u-hide {
        display: none;
    }
}

@include screen-max(xl) {
    .xl\:u-show {
        display: none;
    }
}

@include screen-min(xl) {
    .xl\:u-hide {
        display: none;
    }
}