.c-button {
    @include font-1;
    appearance: none;
    background: transparent;
    background-clip: border-box;
    border-radius: 5px;
    border: 1px solid rgba(var(--color-button), 0.25);
    color: rgb(var(--color-1));
    cursor: pointer;
    display: inline-block;
    font-size: var(--font-size-m);
    font-weight: 600;
    height: 48px;
    line-height: 20px;
    padding: 13px 32px;
    text-align: center;
    text-decoration: none;
    transition: background-color var(--duration-medium) ease,
        border-color var(--duration-medium) ease,
        color var(--duration-medium) ease;
    user-select: none;
    white-space: nowrap;

    &:active {
        padding-bottom: 12px;
        padding-top: 14px;
    }

    &:focus,
    &:hover {
        border-color: rgba(var(--color-button), 0.75);
    }

    .t-dark & {
        border-color: rgba(var(--color-button), 0.5);

        &:focus,
        &:hover {
            border-color: rgba(var(--color-button), 0.75);
        }
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--primary {
        background: rgb(var(--color-button-primary));
        border-color: transparent;
        color: rgb(var(--color-button-primary-text));

        &:focus,
        &:hover {
            background: rgb(var(--color-button-primary-hover));
        }

        .t-dark & {
            background: rgb(var(--color-button-primary));
            border-color: transparent;
            color: rgb(var(--color-1));

            &:focus,
            &:hover {
                background: rgb(var(--color-button-primary-hover));
                border-color: transparent;
                color: #f00; //rgb(var(--color-button-primary-text-hover));
            }
        }
    }
}