.b-video {
    background: rgba(var(--color-bg), 0.25);
    padding: space(3xl) 0;

    @include screen-min(l) {
        padding: space(6xl) 0;
    }

    &__text {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    &__cta {
        padding-top: space(l);
    }

    &__video {
        box-shadow: 0 16px 32px rgba(var(--color-1), 0.25);
        // max-width: 50vw;
    }

    &--tint {
        background: rgba(var(--color-4), 0.25);
    }
}