:root {
    --border-radius: 4px;
    --duration-fast: 150ms;
    --duration-medium: 250ms;
    --duration-slow: 500ms;

    // Color
    --color-1: 225, 23, 30;
    --color-2: 204, 0, 153;             // #CC0099
    --color-3: 0, 204, 204;             // #00CCCC
    // --color-1: 102, 68, 255;         // #6644FF (2022)

    --color-bg: 255, 255, 255;          // #FFFFFF
    --color-bg-tint: 247, 248, 248;     // #EFFAFE

    --color-text: 0, 0, 0;              // #000000
    --color-text-muted: 167, 170, 178;  // #A7AAB2

    --color-status-bad: 255, 51 51;     // #FF3333
    --color-status-good: 51, 204, 102;  // #33CC66

    --color-border: 220, 221, 224;      // #E9E9EB

    --color-button: 204, 0, 153;                // #CC0099
    --color-button-text: 204, 0, 153;           // #CC0099
    --color-button-primary: 204, 0, 153;        // #CC0099
    --color-button-primary-hover: 221, 0, 153;  // #DD0099
    --color-button-primary-text: 255, 255, 255; // #CC0099

    --color-input: 0, 0, 0;                     // #000000
    --color-input-placeholder: 167, 170, 178;   // #FFFFFF
    --color-input-bg: 255, 255, 255;            // #FFFFFF
    --color-input-border: 220, 221, 224;        // #DCDDE0
    --color-input-border-focus: 167, 170, 178;  // #A7AAB2

    // --color-input-border: 196, 196, 216;
    // --color-input-border-focus: var(--color-1);
    // --color-input-outline: rgba(var(--color-1-rgb), 0.125);
    // --color-input-placeholder: #BBBDC1; // 30% text

    --color-link: #3399FF;

    // Type
    --font-1: 'Roboto', sans-serif;
    --font-1-spacing: -0.01em;

    --font-2: 'TNW Avalon', sans-serif;
    --font-2-spacing: -0.025em;

    --font-3: 'Shentox', sans-serif;
    --font-3-spacing: 0.08em;

    --font-mono: 'IBM Plex Mono', monospace;
    --font-mono-spacing: 0;

    --font-size-xs: 12px;
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 28px;
    --font-size-xxl: 32px;
    --font-size-3xl: 40px;

    --line-height-s: 1.25;
    --line-height-m: 1.5;
    --line-height-l: 1.75;
}

@media (min-width: 1024px) {
    :root {
        --font-size-l: 20px;
        --font-size-xxl: 48px;
        --font-size-3xl: 64px;
    }
}

.t-dark {
    --color-text: 255, 255, 255; // #FFFFFF

    --color-button: 255, 255, 255; // #FFFFFF
    --color-button-text: 255, 255, 255; // #FFFFFF
    --color-button-primary: 255, 255, 255; // #FFFFFF
    --color-button-primary-hover: 255, 255, 255; // #FFFFFF
    --color-button-primary-text: 204, 0, 153; // #FFFFFF
    --color-button-primary-text-hover: 0, 0, 0; // #000000

    --color-input: 255, 255, 255;               // #FFFFFF
    --color-input-placeholder: 167, 170, 178;   // #FFFFFF
    --color-input-bg: 255, 255, 255;            // #FFFFFF
    --color-input-border: 255, 255, 255;        // #DCDDE0
    --color-input-border-focus: 255, 255, 255;  // #A7AAB2
}

$grid-columns: 12 !default;

$screens: (
    xs: 320px,
     s: 375px,
     m: 768px,
     l: 1024px,
    xl: 1280px,
) !default;

$spaces: (
    xxs: 0.125rem, // 2px
     xs: 0.25rem,  // 4px
      s: 0.5rem,   // 8px
      m: 1rem,     // 16px
      l: 1.5rem,   // 24px
     xl: 2rem,     // 32px
    xxl: 3rem,     // 48px
    3xl: 4rem,     // 64px
    4xl: 5rem,     // 80px
    5xl: 6rem,     // 96px
    6xl: 7rem,     // 112px
) !default;

$wrapper-widths: (
    s: 640px,
    m: 800px,
    l: 1440px,
) !default; 