.b-hero {
    background: #000 url('/assets/img/hero-glow.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
    color: rgb(var(--color-text));
    padding-top: 64px;

    @include screen-min(m) {
        padding-top: 80px;
    }

    &__grid {
        --grid-cols: 3;
        --grid-rows: 8;
        --grid-width: 100vw;
        --grid-size: calc(var(--grid-width) / var(--grid-cols));
        display: grid;
        grid-template-columns: repeat(var(--grid-cols), var(--grid-size));
        grid-template-rows: repeat(var(--grid-rows), var(--grid-size));
        margin: 0 auto;
        position: relative;
        width: var(--grid-width);

        @include screen-min(m) {
            --grid-cols: 6;
            --grid-rows: 8;
        }

        @include screen-min(l) {
            --grid-cols: 8;
            --grid-rows: 5;
        }

        @include screen-min(xl) {
            --grid-width: 1280px;
        }

        &::after {
            background: #FFF;
            bottom: 0;
            box-shadow: -1000px 0 0 #FFF,
                1000px 0 0 #FFF;
            content: '';
            height: calc(var(--grid-size) * 0.5);
            left: 0;
            position: absolute;
            width: 100%;
            z-index: 2;
        }
    }

    &__photo {
        box-shadow: 0 16px 32px rgba(0, 0, 0, 0.25);
        overflow: hidden;
        position: relative;
        z-index: 3;
        
        img {
            object-fit: cover;
            object-position: center;
            height: 150%;
            left: 0;
            position: absolute;
            top: 0;
            transform: translate3d(0, calc(var(--equinox-pos) * -33.33333%), 0);
            width: 100%;
            will-change: transform;
        }

        &--1 {
            grid-column: 1;
            grid-row: 6 / span 2;
            z-index: 6;

            @include screen-min(m) {
                grid-column: 5 / span 2;
                grid-row: 7 / span 2;                
            }

            @include screen-min(l) {
                grid-column: 5 / span 2;
                grid-row: 1 / span 2;
            }
        }

        &--2 {
            grid-column: 2 / span 2;
            grid-row: 5 / span 2;
            z-index: 5;

            @include screen-min(m) {
                grid-column: 1 / span 2;
                grid-row: 7 / span 2;
            }

            @include screen-min(l) {
                grid-column: 7 / span 2;
                grid-row: 2 / span 2;
            }
        }

        &--3 {
            display: none;
            z-index: 4;

            @include screen-min(l) {
                display: block;
                grid-column: 1 / span 2;
                grid-row: 5;
            }
        }

        &--4 {
            grid-column: 2 / span 2;
            grid-row: 8;
            z-index: 3;

            @include screen-min(m) {
                grid-column: 3 / span 6;
                grid-row: 4 / span 3;
            }

            @include screen-min(l) {
                grid-column: 5 / span 4;
                grid-row: 4 / span 2;
            }
        }
    }

    &__shape {
        pointer-events: none;

        svg {
            height: 100%;
            width: 100%;
        }
        
        &--1 {
            grid-column: 1;
            grid-row: 5;
            z-index: 7;

            @include screen-min(m) {
                grid-column: 3;
                grid-row: 7;
            }

            @include screen-min(l) {
                grid-column: 7;
                grid-row: 1;
            }
        }

        &--2 {
            grid-column: 2 / span 2;
            grid-row: 6 / span 2;
            z-index: 8;

            @include screen-min(m) {
                grid-column: 1 / span 2;
                grid-row: 6 / span 2;
            }

            @include screen-min(l) {
                grid-column: 5 / span 2;
                grid-row: 3 / span 2;
            }
        }

        &--3 {
            display: none;
            z-index: 9;

            @include screen-min(m) {
                display: block;
                grid-column: 6;
                grid-row: 6;
            }

            @include screen-min(l) {
                grid-column: 8;
                grid-row: 3;
            }
        }

        &--4 {
            grid-column: 1;
            grid-row: 8;
            z-index: 1;

            @include screen-min(m) {
                grid-column: 1;
                grid-row: 5;
            }

            @include screen-min(l) {
                grid-column: 3;
                grid-row: 5;
            }
        }
    }

    &__content {
        align-items: center;
        display: flex;
        grid-column: 1 / span 3;
        grid-row: 1 / span 4;
        justify-content: center;
        padding: 24px;
        text-align: center;

        @include screen-min(m) {
            grid-column: 2 / span 4;
            grid-row: 1 / span 4;
            padding: 48px;
            text-align: center;
        }

        @include screen-min(l) {
            grid-column: 1 / span 4;
            grid-row: 1 / span 4;   
            text-align: left;
        }
    }

    &__eyebrow {
        margin-bottom: space(xs);
    }

    &__heading {
        margin-bottom: space(xl);
    }

    &__intro {
        font-size: var(--font-size-l);
        font-weight: 500;
        margin-bottom: space(xxl);
    }
}