.b-textImage {
    --equinox: 0;
    position: relative;

    &__text {
        padding: space(3xl) 0;

        @include screen-min(l) {
            padding: space(6xl) calc(50% + 112px) space(6xl) 0;
        }
    }

    &__heading {
        margin-bottom: 1em;
    }

    &__imageContainer {
        background: #000;
        height: 75vw;
        position: relative;

        @include screen-min(l) {
            height: 100%;
            left: 50%;
            top: 0;
            width: 50%;
            position: absolute;
        }
    }

    &__image {
        height: 100%;
        left: 0;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 100%;
    }

    &__imageImg {
        left: 0;
        object-fit: cover;
        position: absolute;
        top: 0;
        width: 100%;
        will-change: transform;

        &--background {
            height: 125%;
            transform: translate3d(0, calc(var(--equinox-pos) * -20%), 0);
        }

        &--overlay {
            height: 150%;
            transform: translate3d(0, calc(var(--equinox-pos) * -33.33333%), 0);
        }
    }

    &--tint {
        background: rgb(var(--color-1));
        color: rgb(var(--color-bg));

        h2 {
            color: rgb(var(--color-bg));
        }
    }
}